<div>
  <strong> Search : </strong>
   <input type = "text" [(ngModel)] = "search">
 </div>


<table width = "100%">
  <thead>
    <th> Name : </th>
    <th> Email : </th>
    <th> Phone : </th>
    <th> Password : </th>
  </thead>
  <tbody *ngFor = "let data of list | filterdata : search : searchAbleList">
    <td>{{ data.name }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.phone }}</td>
    <td>{{ data.password }}</td>
  </tbody>
  <button class = "btn btn-success" type = "button" 
  (click) = 'onEdit(data._id)'> Edit </button>
  <button class = "btn btn-success ml-2" type = "button"
   (click) = 'onDelete(data._id)'> Delete </button>
</table>
<mat-paginator #paginator [ pageSizeOptions ] = "[ 8, 12, 16 ]"
 [ showFirstLastButtons ] = "true" [ pageSize ] = "pageSize"

 [ pageIndex ]= "currentPage" [ length ] = "totalSize" 
 (page) = "handler($event)">
</mat-paginator>







<!-- <div class="container">
  <div class="row">
  <div *ngFor='let data of detail'>
<div class="col-md-2">
  {{data.name}}
</div>
<div class="col-md-2">

  {{data.email}}
</div>
<div class="col-md-2">
  {{data.phone}}
</div>
<div class="col-md-2">
  {{data.password}}
</div>
<div class="col-md-4">
  <button class="btn btn-success" type="button" (click)='onEdit(data._id)'>Edit</button>
  <button class="btn btn-success ml-2" type="button" (click)='onDelete(data._id)'>Delete</button>
</div>
    </div>
  </div>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[1,3,5]">
  </mat-paginator>
  
</div> -->