<div class="container">
  <form>
    <div>
      <label>
        UserName:
      </label>
      <input type="text" class="form-control">
    </div>
    <div>
      <label>
        Password
      </label>
      <input type="password" class="form-control">
    </div>
    <br>
  
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-primary ml-2" type="reset">Cancel</button>
    <button class="btn btn-success ml-2" type="submit">Registration</button>
  </form>
</div>